<shared-platform-header
  [userName]="userName"
  [userInitials]="userInitials"
  (profileAction)="handleProfileAction($event)"
>
  <div header-brand>
    <button
      type="button"
      class="mobile-menu-button"
      aria-label="Open navigation"
      (click)="menuToggle.emit()"
    >
      <img src="assets/icons/menu.svg" alt="Open navigation" />
    </button>
    <img src="assets/iotility-dark.svg" alt="IoTility" class="h-7 w-auto dark:hidden" />
    <img src="assets/iotility-light.svg" alt="IoTility" class="hidden h-7 w-auto dark:block" />
  </div>
</shared-platform-header>
